/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flexRow {
  display: flex;
  flex-direction: row;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-cover {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.u-window {
  display: flex;
  background: rgba(240, 240, 240, 1);
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}
.u-largeWindow {
  width: 90vw;
  height: 90vh;
}

/*
  u-clickable elements are rounded white-button-y kinda elements
  that will appear very often in our website.
  Don't modify font size, color, opacity, margin, or padding here.
*/
.u-clickable {
  border-radius: 4px;
  background: rgba(240, 240, 240, 1);
  text-decoration: none;
  color: black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-chocoThemed {
  background: #fdecc2;
  color: rgba(155, 100, 17, 1);
}
.u-clickableSmall {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  height: 28px;
  min-width: 40px;
  font-weight: var(--m);
  padding-left: 4px;
  padding-right: 4px;
}
.u-marginLeft {
  margin-left: 8px;
}
.u-clickableMid {
  font-size: 30px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
.u-clickable:hover {
  cursor: pointer;
}
.u-clickable:active {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
