.cardContainer {
  background: #ffe3b8;
  min-width: 80vh;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 8px;
  margin-top: 16px;
}
.mainCardContent {
  justify-content: space-between;
}

.cardAction {
  width: 48px;
  height: 48px;
  font-size: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showDescriptionButton {
  margin-top: 8px;
  margin-bottom: 6px;
}
