.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffcba6;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

.navBarButton {
  background: rgba(240, 240, 240, 1);
  padding: 8px;
}
