/* TODO */
.tileButton {
  display: flex;
  height: 80px;
  width: 80px;
  margin: 8px;
  align-items: center;
  justify-content: center;
  background: #fffdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tileButton:hover {
  cursor: pointer;
}
.layerSwitchButton {
  border-radius: 8px;
  padding: 4px;
  font-size: 24px;
}
.currentBlockContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.sidePaneContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: min-content;
  min-width: 304px;
  background: #fdecc2;
}

.tileButtonContainer {
  display: flex;
  overflow-y: auto;
  width: min-content;
  min-width: 288px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 50vh;
  border: 1px solid black;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
} */
